
<section class="hero hero-image">

<%= image_tag("hero-image.jpg") %>
  </section>







<section class="container center jumbotron">


<h3>Welcome to Bentleys Bakery</h3>


<h4>
Bentley's started in Tarah Fontaine's kitchen after graduating from the New England Culinary Institute. She began baking cakes and treats for her local community until her oven and storage space were consistently over worked. So she bought an existing bakery in Danville and converted the business into her own vision.
Bentley's specializes in Wedding & Artisanal Cakes for any occasion. 
</h4>


<h4>We host a full cafe setting which is fun and lively, (Due to Covid-19 we are to-go only).
We brew exclusively with Vermont Coffee Company's beans while offering breakfast and lunch items. Also, we have healthy smoothies or delicious treats for those on the go!
</h4>


<br>

<h4>PLEASE NOTE: We are currently not accepting orders for wedding cakes.
</h4>
<h3>
To order an Artisanal Cake, PLEASE CALL: (802)684-3385 </h3>


</section>

<section id="menu" class="container">

<h1>Sandwiches <small>(all sandwiches include chips & a pickle)</small></h1> 

<ul>

<li><h4>Bacon Chicken Ranch Wrap $8.95 <small>(bacon,chicken,cheese,lettuce,tomato & ranch)</small></h4></li>

<li><h4>Chicken Cordon Bleu Wrap $8.95 <small>(chicken,ham,cheese,spinach,onion & maple balsamic)</small></h4></li>
<li><h4>BLT $8.95 <small>(bacon,lettuce,tomato & mayo)</small></h4></li>
<li><h4>Ham Panini $8.95 <small>(ham,cheese,spinach,onion,pepper & dijon mustard)</small></h4></li>

<li><h4>Thai Wrap $8.95 <small>(chicken,lettuce,tomato,cucumbers,carrots, chow mein noodles & peanut sauce)</small></h4></li>
<li><h4>Cranberry Chicken Sandwich $8.95 <small>(chicken,walnuts,cheese,lettuce,tomato & cranberry mayo)</small></h4></li>
<li><h4>Veggie Panini $7.95 <small>(cheese,spinach,tomato,onion,cucumbers, peppers & house dressing or pesto)</small></h4></li>

<li><h4>Pastrami Panini $9.95 <small>(pastrami,caramelized onions,swiss cheese & horseradish mayo)</small></h4></li>
<li><h4>Chicken Autumn Wrap $8.95 <small>(chicken,bacon,cheese,spinach,apples & maple balsamic)</small></h4></li>
<li><h4>Grilled Cheese $4.95 <small>-Add a cup of soup $2.95</small></h4></li>
<li><h4>Ham & Cheddar Wrap $5.25 <small>(add veggies & condiments if preferred)</small></h4></li>


</ul>

<h1>Salads</h1>
<ul>

<li><h4>Joes Brook Salad $10.95 <small>(chicken,tomato,cucumbers,peppers,onions, carrots,cheese,dried cranberries,walnuts, croutons,over greens and your choice of dressing)</small></h4></li>
<li><h4>Simply Julie $7.95 <small>(chicken,bacon,cheese,croutons over greens with ranch)</small></h4></li>
<li><h4>Side Green Salad $5.95 </h4></li>
</ul>


<h1>Soups</h1>
<ul>

<li><h4>Chili $5.50 </h4></li>
<li><h4>Soup of the day (Cup $2.95 or Bowl $3.95)</h4></li>

</ul>
<h1>Other Goodies</h1>
<ul>
<li><h4>Pork Pie $4.95</h4></li>
<li><h4>Slice of Quiche $4.50
-With a salad $9.95</h4></li>
<li><h4>Quesadilla <small>-Add a cup of soup $2.95</small></h4></li>
<li><h4>Grilled Cheese $4.95 <small>-chicken and cheese $5.50
-add veggies $0.75</small></h4></li>

</ul>


</div>

</div>




</section>




