
<section class="hero hero-image"> <%= image_tag("hero-image.jpg") %>  </section>

<section class="container main">
<div class="row">


<div class="about col-6">
<h2>Welcome to Bentleys Bakery</h2>


<span>
Bentley's started in Tarah Fontaine's kitchen after graduating from the New England Culinary Institute. 
She began baking cakes and treats for her local community until her oven and storage space were consistently 
over worked. So she bought an existing bakery in Danville and converted the business into her own vision.
</span>
<br>
<br>

<span>We host a full cafe setting which is fun and lively.
We brew exclusively with Vermont Coffee Company's beans while offering breakfast and lunch items. Also, we have healthy smoothies or delicious treats for those on the go!
</span>
</div>


<div class="hours col-6">
<h2>Hours</h2>
<h3>Tuesday-Friday 6:30 to 1:30</h3>
<h3>Saturday 8:00-1:30</h3>
</div>

</div>
</div>
</section>


<section id="menu" class="container">


<h1>Our Menu</h1>

<h2>Sandwiches <small>all sandwiches include chips & a pickle</small></h2> 

<ul>

<li><h4>Bacon Chicken Ranch Wrap <small>bacon, chicken, cheese, lettuce, tomato & ranch</small></h4></li>

<li><h4>Chicken Cordon Bleu Wrap<small>chicken, ham, cheese, spinach, onion & maple balsamic</small></h4></li>
<li><h4>BLT  <small>bacon, lettuce, tomato & mayo</small></h4></li>
<li><h4>Ham Panini <small>ham, cheese, spinach, onion, pepper & dijon mustard</small></h4></li>

<li><h4>Thai Wrap <small>chicken, lettuce, tomato, cucumbers, carrots, chow mein noodles & peanut sauce</small></h4></li>
<li><h4>Cranberry Chicken Sandwich <small>chicken, walnuts, cheese, lettuce,tomato & cranberry mayo</small></h4></li>
<li><h4>Veggie Panini <small>cheese, spinach, tomato, onion, cucumbers, peppers & house dressing or pesto</small></h4></li>

<li><h4>Pastrami Panini <small>pastrami, caramelized onions, swiss cheese & horseradish mayo</small></h4></li>
<li><h4>Chicken Autumn Wrap <small>chicken, bacon, cheese, spinach, apples & maple balsamic</small></h4></li>
<li><h4>Grilled Cheese <small>-Add a cup of soup</small></h4></li>
<li><h4>Ham & Cheddar Wrap <small>add veggies & condiments if preferred</small></h4></li>


</ul>

<h2>Salads</h2>
<ul>

<li><h4>Joes Brook Salad <small>chicken,tomato, cucumbers, peppers, onions, carrots, cheese, dried cranberries, walnuts, croutons, over greens and your choice of dressing</small></h4></li>
<li><h4>Simply Julie <small>chicken, bacon, cheese, croutons over greens with ranch</small></h4></li>
<li><h4>Side Green Salad </h4></li>
</ul>


<h2>Soups</h2>
<ul>

<li><h4>Chili </h4></li>
<li><h4>Soup of the day Cup or Bowl </h4></li>

</ul>
<h2>Other Goodies</h2>
<ul>
<li><h4>Pork Pie</h4></li>
<li><h4>Slice of Quiche
- With a salad </h4></li>
<li><h4>Quesadilla <small>-Add a cup of soup</small></h4></li>
<li><h4>Grilled Cheese<small>-chicken and cheese
</small></h4></li>

</ul>


</div>

</div>




</section>




