@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

  header {
    position: fixed;
    z-index: 10;
    height: 90px;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }  

  #logo img{
    position: relative;
    top: 5px;
    left: 0px;
    width:150px;
  }

  #fblink a img{
    width:110px;
  }

  .navbar{ 
    margin-bottom: 0px !important;
  }



body {
    /* padding-top: 60px; */
  }
  
  footer {
    margin-top:3%;
    margin-bottom: 3%;
    text-align: center;
  }

  footer section div {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 0;
  }


  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 2.7em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    
  }
  
  h2 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  #menu{
    background-color: rgb(245, 245, 245);
    ul li {
      list-style: none;
    }
    h1, h2 {
      text-align: center;
    }
  }

  .main { 
    margin: 2rem;
  }

  .about h4 {
    text-align: left;
  }



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  #logo {
    position: relative;
    top: 5px;
    left: 0px;
  }
  #logo img {
    width: 180px;
  }
 
  #fblink a img{
    width:120px;
  }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #logo {
    position: relative;
    top: 5px;
    left: -90px;
    margin-bottom: 20px;
  }
  #logo img {
    width: 180px;
  }
  #fblink a img{
    width:150px;
  }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #logo {
    position: relative;
    top: 5px;
    left: -180px;
    margin-bottom: 20px;
  }
  #logo img {
    width: 220px;
  }
  #fblink img{
    width:160px;
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #logo {
    position: relative;
    top: 5px;
    left: -200px;
    margin-bottom: 20px;
  }
  #logo img {
    width: 240px;
  }
  #fblink a img{
    width:150px;
  }


 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  #logo {
    position: relative;
    top: 5px;
    left: -200px;
    margin-bottom: 20px;
  }
  #logo img {
    width: 260px;
  }
  #fblink a img{
    width:150px;
  }

 }


/*

  .menu {

    .menu-headers {
      display: flex;
      list-style-type: none;
      margin-left: 0;
      justify-content: space-between;
      
      @media screen and (min-width: 640px) {
        justify-content: unset;
        .menu-header:nth-child(n+2) {
          margin-left: 20px;
        }
      }
      .menu-header {
        cursor: pointer;
        border-bottom: 1px solid #000;
        padding: 0;
        line-height: 20px;
        @media screen and (min-width: 1024px) {
          font-size: $ms-size;
          line-height: $ms-size;
        }
      }
      
    }
    .menu-items-grid {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin: 0;
      @media screen and (min-width:640px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
      .menu-item {
        padding-top: 15px;
  
        h3 {
          margin-bottom: 0;
        }
      }
    }
  }

  */