<footer>


<div class="container">
<div class="row">

<div class="hours col-3">
<h3>Hours</h3>
<span>Monday-Friday 6:30 to 1:30</span>
<br>
<span>Saturday 8:00-1:30</span>
</div>


<div class="address col-3">
<h3>Where are we?</h3>
<span>20 Hill Street</span>
<br>
<span>Danville, Vermont 05828</span>
<h4>
<%= link_to "[Google Map Link]", 
'https://goo.gl/maps/AmRooJAbw4npeinr7' %>
</h4>
</div>


<div class="contact col-3">
<h3>Contact</h3>
<b>(802) 684-3385</b>
</div>

</div>
</div>


</footer>