


<header class="navbar navbar-inverse navbar-fixed-top">


<div id="logo">
<%= image_tag("logo.png", alt: "Bentleys logo", width: "250")%>
</div>
  

<div id="fblink">
<%= link_to image_tag("find-us.png", alt: "Facebook"), "https://www.facebook.com/Bentleys-Bakery-and-Cafe-159258157467790/" %>
      </div>

</header>





